<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">Dashboard</h2>
    <div class="inner">
      <p class="first">To view test cases executed, click on Test cases tab...</p>
      <p class="first">To view results summary of all test cases executed, click on All results summary tab under Test cases tab...</p>
      <p class="first">To view results summary of latest run of test cases, click on Latest results summary tab under Test cases tab...</p> 
      <p class="first">To view stats for all test runs, clieck on Test runs tab...</p>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>